# Add any directories, files, or patterns you don't want to be tracked by version control


/client-testproject/node_modules
/mean_project/node_modules
/mean_project/backend/node_modules
/node_modules
server/package-lock.json